.uv{
    padding: 5px;
}

#current-cast{
    padding: 10px 5px 40px;
}

#current-cast > div{
    padding: 10px;
}

#five-day{
    padding-top: 15px;
}

.daily{
    margin: 0 10px;
}

h6{
    padding-top: 15px;
}

.daily > div {
    padding-bottom: 15px;
}

.img{
    width:50px;
}

